<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.linkedin.com/in/ronaldo-avalos-25187921b/">LinkedIn</a></li>
                    <li><a href="https://www.linkedin.com/in/ronaldo-avalos-25187921b/">CV</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    {{test | date: 'yyyy'}}, hecho con <i class="fa fa-heart heart"></i> por Fredy Avalos Romero
                </span>
            </div>
        </div>
    </div>
</footer>
